<mat-card
  [ngClass]="{
    correct: result === true,
    incorrect: result === false
  }"
>
  <mat-card-content>
    <span>{{ task.a }}</span>
    <span>{{ task.operation }}</span>
    <span>{{ task.b }}</span>
    <span>=</span>
    <mat-form-field
      appearance="fill"
      *ngIf="result === undefined; else showResult"
    >
      <mat-label>Vastaus</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="answer"
        (submit)="checkAnswer()"
        (keyup.enter)="checkAnswer()"
      />
    </mat-form-field>
    <ng-template #showResult>
      <span>{{ answer }}</span>
    </ng-template>
    <button
      mat-raised-button
      color="primary"
      (click)="checkAnswer()"
      [disabled]="answer === ''"
      *ngIf="result === undefined"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >checkmark</mat-icon
      >
    </button>
  </mat-card-content>
</mat-card>
