<mat-button-toggle-group name="difficulty" [(value)]="difficulty" aria-label="Difficulty">
  <mat-button-toggle value="easy" (change)="selectionChanged()">Легко</mat-button-toggle>
  <mat-button-toggle value="normal" (change)="selectionChanged()">Нормально</mat-button-toggle>
</mat-button-toggle-group>

<mat-grid-list [cols]="cols$ | async" [rowHeight]="(rowHeight$ | async) || 0" gutterSize="42px">
  <mat-grid-tile *ngFor="let task of tasks">
    <app-task-card [task]="task"></app-task-card>
  </mat-grid-tile>
</mat-grid-list >
